.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.logo {
    color: black;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto;
    background-color: #d2d9e1;
    color: #3F334D;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
    background-color: #F4845F;
    font-size: 20px
}

.links {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* INDEX PAGE */
.overview-image {
    border-radius: 15px;
}

.main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 200px;
    font-size: 60px;
    font-weight: bold;
}

.option-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 45px;
}

button {
    padding: 40px;
    border-radius: 15px;
    border-color: #969DEB;
    font-family: Roboto;
    color: #3F334D;
    background-color: #ebe496;
    font-size: 15px;
} 

.buttons {
    display: flex;
    gap: 60px;
}

/* INVITES PAGE */
.images-and-text-split {
    display: flex;
    padding: 100px 200px;
    justify-content: space-between;
    align-items: center;
}

.pending-invites {
    display: flex;
    border-color: #3F334D;
    border-style: dashed;
    border-radius: 3px;
    padding: 25px;
    width: 240px;
    background-color: #ebe496;
}

.invitation {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

.invitations {
    margin-top: 10px;
}

.image-container {
    display: flex;
    align-items: center;
    height: 400px;
}

.square-images {
    display: flex;
    flex-direction: column;
    height: 400px;
}


/* Work in progress */
.in-progress {
    display: flex;
    flex-direction: column;
    padding: 50px 200px;
    justify-content: center;
    align-items: center;
}